@import "../../scss/base.scss";
$classes: "primary", "secondary";

@function colorSet($className, $type) {
  @return $primaryFontColor;
}

button.paper-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;

  @each $name in $classes {
    &.paper-btn--#{$name}-btn {
      color: #{$colorSet($name, "b")};
      background-color: $primaryBgColor;
      border-color: $primaryBorderColor;
      &:hover {
        background-color: $primaryBgHover;
        border-color: $primaryBorderColorHover;
      }
    }
  }

  // &.paper-btn--primary-btn {
  //   color: $primaryFontColor;
  //   background-color: $primaryBgColor;
  //   border-color: $primaryBorderColor;
  //   &:hover {
  //     background-color: $primaryBgHover;
  //     border-color: $primaryBorderColorHover;
  //   }
  // }

  // &.paper-btn--secondary-btn {
  //   color: $secondaryFontColor;
  //   background-color: $secondaryBgColor;
  //   border-color: $secondaryBorderColor;
  //   &:hover {
  //     background-color: $secondaryBgColorHover;
  //     border-color: $secondaryBorderColorHover;
  //   }
  // }

  &.paper-btn--success-btn {
    color: $successFontColor;
    background-color: $successBgColor;
    border-color: $successBorderColor;
    &:hover {
      background-color: $successBgColorHover;
      border-color: $successBorderColorHover;
    }
  }

  &.paper-btn--danger-btn {
    color: $dangerFontColor;
    background-color: $dangerBgColor;
    border-color: $dangerBorderColor;
    &:hover {
      background-color: $dangerBgColorHover;
      border-color: $dangerBorderColorHover;
    }
  }

  &.paper-btn--warning-btn {
    color: $warningFontColor;
    background-color: $warningBgColor;
    border-color: $warningBorderColor;
    &:hover {
      background-color: $warningBgColorHover;
      border-color: $warningBorderColorHover;
    }
  }

  &.paper-btn--info-btn {
    color: $infoFontColor;
    background-color: $infoBgColor;
    border-color: $infoBorderColor;
    &:hover {
      background-color: $infoBgColorHover;
      border-color: $infoBorderColorHover;
    }
  }

  &.paper-btn--sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;

    &.paper-btn--rounded {
      border-radius: 0.2rem;
    }
  }

  &.paper-btn--md {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;

    &.paper-btn--rounded {
      border-radius: 0.25rem;
    }
  }

  &.paper-btn--lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

    &.paper-btn--rounded {
      border-radius: 0.3rem;
    }
  }

  &:disabled {
    color: $disabledFontColor !important;
    border: 1px solid $disabledBgColor !important;
    background-color: $disabledBorderColor !important;
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.paper-btn--block {
    width: 100%;
  }
}
